{% templatetag openblock %} extends "{{ app_label }}/{{ model_name_slug }}_base.html" {% templatetag closeblock %}

{% verbatim %}{% block title %}{% endverbatim %}
    {{ model_name_plural }}
{% verbatim %}{% endblock %}{% endverbatim %}

{% verbatim %}{% block content %}{% endverbatim %}
    <h2>{{ model_name_plural }}</h2>
    <h3><a href={% templatetag openblock %} url "{{ app_label }}:{{ model_name_slug }}_create" {% templatetag closeblock %}>Create new {{ model_name }}</a></h3>   
<hr>    <ul>
    {% templatetag openblock %} for {{ model_name_slug }} in {{ model_name_slug }}_list {% templatetag closeblock %}
        <li>
            <a href={% templatetag openblock %} url "{{ app_label }}:{{ model_name_slug }}_detail" {{ model_name_slug }}.{{ lookup_field }} {% templatetag closeblock %}>{% templatetag openvariable %} {{ model_name_slug }} {% templatetag closevariable %}</a> {% if user.is_authenticated %}| <a href={% templatetag openblock %} url "{{ app_label }}:{{ model_name_slug }}_update" {{ model_name_slug }}.{{ lookup_field }} {% templatetag closeblock %}>Update</a>  <form style="display:inline;" action={% templatetag openblock %} url "{{ app_label }}:{{ model_name_slug }}_delete" {{ model_name_slug }}.{{ lookup_field }} {% templatetag closeblock %} method="post" onsubmit="return confirm('Are you sure you want to delete {% templatetag openvariable %} {{ model_name_slug }} {% templatetag closevariable %}?')">{% verbatim %}{% csrf_token %}{% endverbatim %}
            <input type="submit" value="Delete" />{% endif %}
    </form>
</li>
    {% verbatim %}{% empty %}{% endverbatim %}
        <li>No {{ model_name_plural }} yet.</li>
    {% verbatim %}{% endfor %}{% endverbatim %}
    </ul>
{% verbatim %}{% endblock %}{% endverbatim %}

