{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
{{ block.super }}
{% if has_lazy_inlines %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/lazy_inlines.css" %}">
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if has_lazy_inlines %}
<script type="text/javascript" src="{% static "admin/js/lazy_inlines.js" %}"></script>
{% endif %}
{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% if inline_admin_formset.opts.lazy_loading_enabled %}
        <div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
             data-lazy-load="true"
             data-inline-type="{{ inline_admin_formset.opts.class_name }}"
             data-app="{{ inline_admin_formset.opts.app_label }}"
             data-model="{{ inline_admin_formset.opts.model_name }}"
             data-name="{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}"
             data-count="{{ inline_admin_formset.formset.queryset.count }}">
            {# This will be replaced via AJAX #}
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
            <div class="lazy-inline-loading">
                <div class="lazy-inline-spinner"></div>
                <span>Loading data...</span>
            </div>
        </div>
    {% else %}
        {% include inline_admin_formset.opts.template %}
    {% endif %}
{% endfor %}
{% endblock %}
